body{
	background-image:url(bkg.png);
	background-repeat: repeat;
	margin:0 auto;
	width: 100%;
}
header {
	text-align: center;
	background-color: white;
	height: 60px;
	font-family: 'Alegreya SC', serif;
	margin:0 auto;
	padding: 0 400px;
	font-size: 50px;
	-moz-box-shadow:   0 1px 10px 0px #ccc;
	-webkit-box-shadow:0 1px 10px 0px #ccc;
	box-shadow:        0 1px 10px 0px #ccc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.mem{
	font-family:  'Kite One', sans-serif;
	font-size: 20px;
}
.header-left{
	display: inline-block;
	width: 450px;
	text-align: left;
}
.header-right{
	display: inline-block;
	text-align: right;
	font-size: 15px;
}
.header-right a{
	text-decoration: none;
}
.header-right a:visited{
	color:#b6b17e;
}
.header-right a:link{
	color:#b6b17e;
}
.header-right a:hover{
	color:#eadb42;
}
.header-right a:active{
	color:#b6b17e;
}
section {
	width:800px;
	text-align: center;
	border-bottom: 5px double black;
	display: inline-block;
}
.info-left{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	width: 276px;
  	height: 223px;
    transition:width 2s, height 2s;
   	-webkit-transition:width 2s, height 2s, -webkit-transform 2s;
}
.info-middle{
	padding-top: 10px;
	display: inline-block;

	width:400px;
	text-align: left;
	font-size: 30px;

}
.info-right{
	vertical-align: top;
	display: inline-block;
	width:100px;
	list-style: none;
}
.info-right img{
	width: 50px;
}
.info-left .name{
	font-family: 'Kite One', sans-serif;
	position: relative;
	top:169px;
	font-size: 30px;
	color: blue;
	text-align: center;
}
.info-left .head{
	margin-top: -36px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 150px;
	height: 150px;
	overflow: hidden;
 	-moz-border-radius: 75px; 
 	-webkit-border-radius: 75px; 
 	border-radius: 75px;
}

.info-middle{
	list-style: none;
	font-family: 'Kite One', sans-serif;
}
.info-middle li{
	margin: 5px 0;
}
.word1{
	font-size: 25px;
	text-decoration: underline;
}
.word2{
	padding-left: 10px;

}
.word1-1{

	padding:4px;
}
.info-right li{
	margin:10px 0;
}
#membership {
	width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-top: 70px;
	margin-right: auto;
	padding-bottom: 100px;
}
.personal_clear {
	clear: both;
}
footer{
	text-align: center;
	height: 30px;
	position: relative;
	margin-top: -30px;
}

