body{
	background-image:url(bkg.png);
	background-repeat: repeat;
	margin:0 auto;
	width: 100%;
}
header {
	background-color: white;
	height: 60px;
	font-family: 'Kite One', sans-serif;
	text-align: center;
/*	margin-right: auto;
	margin-left: auto;*/
	margin:0 auto;
	font-size: 30px;
}

section {
	margin-top: 20px;
	mragin-bottom: 20px;
	display: inline-block;
}
.info-left{
	text-align: center;
	padding-top: 10px;
	width: 276px;
  	height: 276px;
	border: 1px solid black;
    transition:width 2s, height 2s;
   	-webkit-transition:width 2s, height 2s, -webkit-transform 2s;
}
/*.picture{
	display: inline-block;
}*/
.info-right{
	position: relative;
	top: -272px;
	height: 276px;
	width:276px;
	text-align: left;
	font-size: 30px;
	padding-left: 5px;


}

.info li{
	list-style: none;
}
.info-left .picture-top{
	font-family: 'Kite One', sans-serif;
	position: relative;
	top:222px;
	font-size: 30px;
	color: blue;
}
.info-left .picture-bottom{
	margin-top: -36px;
}

.info-left img{
   	width: 200px;
  	height: 200px;
   	-moz-border-radius: 100px; 
   	-webkit-border-radius: 100px; 
   	border-radius: 100px;

}

#membership {
	width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.personal_clear {
	clear: both;
}

